/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply styles for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

/* Style the "Book Now" and "Next" buttons */
.book-button, .next-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* Style the drop-down boxes */
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    color: green;
    width: 100%;
    margin-bottom: 15px;
}

/* Apply additional styling for body, h2, and other elements if needed */
.logo {
    width: 75px; 
    height: 50px; 
    border-radius: 100%;
    overflow: hidden;
}

/* Additional CSS for VIP pages */
.container {
    text-align: center;
    padding: 20px;
}


.gold-text {
    color: #f39c12; /* Gold color */
}

.vip-features {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.vip-features li {
    margin-bottom: 10px;
}

/* Styling for VIP buttons */
.vip-parking-button{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: gold; /* Gold color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    align-items: center; 
}
.vip-vehicle-button,
.vip-duration-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: gold; /* Gold color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.vip-parking-button:hover,
.vip-vehicle-button:hover,
.vip-duration-button:hover {
    background-color: #d68910; /* Darker gold on hover */
}
